<div id="form-container">
    <form>
        <label for="text">
            Nome
            <input type="text" name="nome" id="nome" placeholder="Digite seu Nome">
        </label>
        <label for="text">
            E-mail
            <input type="email" name="email" id="email" placeholder="Digite seu E-mail">
        </label>
        <label for="text">
            Telefone
            <input type="tel" name="telefone" id="telefone" placeholder="Digite seu telefone para contato">
        </label>
        <label for="text">
            CPF/CNPJ
            <input type="text" name="documento" id="documento" placeholder="DIgite seu CPF ou CNPJ">
        </label>
        <label for="text">
            Cidade
            <input type="text" name="cidade" id="cidade" placeholder="Digite sua cidade">
        </label>
        <label for="text">
            Senha
            <input type="password" name="senha" id="senha" placeholder="Digite sua senha">
        </label>
        <div class="buttons">
            <button type="button" class="link" (click)="onBtnCancel()">Cancelar</button>
            <button type="button">Criar</button>
        </div>
    </form>
</div>    