<app-nav-bar (showPetRegisterModal)="modalPetRegister()" (showRegisterModal)="modalRegister()"
  (showLoginModal)="modalLogin()"></app-nav-bar>
  <app-pet-register (hidePetRegister)="cancelModalPetRegister()" *ngIf="booleanPetRegister"></app-pet-register>
  <app-register (hideRegister)="cancelModalRegister()" *ngIf="booleanRegister"></app-register>
  <app-login (hideLogin)="cancelModalLogin()" *ngIf="booleanLogin"></app-login>
  <app-adoption (hideAdoption)="cancelAdoptModal()" *ngIf="booleanAdoptModal" [petById]="petById">
  </app-adoption>
  <div class="info">
    <div class="text">
      <h1>{{petById.nome}}</h1>
      <p>Espécie: {{petById.especie}}</p>
      <p>Raça: {{petById.raca}}</p>
      <p>Sexo: {{petById.sexo}}</p>
      <p>Idade: {{idadePetPelaDataDeNascimento(petById.dataNascimento)}}</p>
      <p>Descrição: {{petById.descricao}}</p>
    </div>
    <div class="image">
      <img src={{petById.imagemUrl}} alt=" Foto + {{petById.nome}}">
    </div>
  </div>
  <div class="button">
    <button type=button (click)="modalAdopt()">Quero adotar!</button>
  </div>
<app-footer></app-footer>
