#form-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(226, 224, 231, 0.5);
  backdrop-filter: blur(20px);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 3s linear;
}

h4{
  color: rgb(78, 38, 116);
  align-self: center;
  text-align: center;
}

#form-container form {
  background-color: #a2e7d8;
  padding: 40px;
  box-shadow: 0 0 2px inset rgba(256, 256, 256, 0.6);
  width: 400px;
  border-radius: 10px;
}

#form-container form label {
  color: rgb(78, 38, 116);
  font-size: 17px;
  width: 100%;
  padding: 3px;
}

#form-container form input {
  display: block;
  width: 100%;
  background-color: #bfdfd8;
  border: none;
  color: rgb(109, 54, 161);
  border-radius: 5px;
  padding: 5px;
}

#form-container form .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 0;
}

#form-container form .buttons button {
  background: rgb(109, 54, 161);
  border-radius: 10px;
  border-style: outset;
  border-color: rgb(78, 38, 116);
  height: 50px;
  width: 100px;
  font: bold 15px arial, sans-serif;
  text-shadow: none;
  color: white;
}

.error{
  background-color: rgba(201, 4, 4, 0.753);
  padding: 10px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin-top: 20px;
}
