<div id="form-container">
  <form (ngSubmit)="onSubmitLogin()" [formGroup]="loginForm">
    <h4>QUE BOM QUE VOCÊ VOLTOU</h4>
    <label for="text">E-mail</label>
    <input type="email" formControlName="email" id="email" placeholder="Digite seu e-mail">
    <div *ngIf="emailaddress.invalid && (emailaddress.touched || emailaddress.dirty)">
      <small class="error" *ngIf="emailaddress.errors?.required">*Email é um campo obrigatório</small>
      <small class="error" *ngIf="emailaddress.errors?.email">*Por favor informe um email válido</small>
      <small class="error" *ngIf="emailaddress.errors?.minlength">*Mínimo de 6 letras</small>
      <small class="error" *ngIf="emailaddress.errors?.maxlength">*Máximo de 50 letras</small>
    </div>
    <label for="text">Senha</label>
    <input type="password" formControlName="senha" id="senha" placeholder="Digite sua senha">
    <div *ngIf="password.invalid && (password.touched || password.dirty)">
      <small class="error" *ngIf="password.errors?.required">*Senha é um campo obrigatório</small>
      <small class="error" *ngIf="password.errors?.minlength">*Mínimo de 6 caracteres</small>

    </div>
    <div class="buttons">
      <button type="button" class="link" (click)="onBtnCancelLogin()">Cancelar</button>
      <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
    </div>
  </form>
</div>
