.card {
  background-color: #a9e4d7;
  color: whitesmoke;
  border-radius: 50px;
  margin: 10px;
  font-size: 80%;
}

.categoria {
  font-size: 30px;
  color: rgb(109, 54, 161);
  padding-top: 100px;
  text-align: center;
}

button {
  width: 100%;
}
