<div class="other_test">
  <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col" *ngFor="let other of petList">
      <div class="card shadow-sm align-items-center" *ngIf="other">
        <img src="../../../../../assets/images/bird1.png" class="card-img-top p-5" alt="imagem">

        <h2><b>{{other.nome}}</b></h2>
        <p>{{other.raca}}, {{other.sexo}}, {{idadeOutrosPelaDataDeNascimento(other.dataNascimento)}}</p>

        <button type="button">Ver mais detalhes</button>

      </div>
    </div>
  </div>
</div>
