<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="sidebar">
    <nav>
      <ul>
        <div class="minha-conta">
          <i class="fas fa-user-cog"></i>
          <li>Minha conta</li>
        </div>
        <div class="pets">
          <i class="fas fa-paw"></i>
          <li>Pets cadastrados</li>
        </div>
        <div class="interesse">
          <i class="fas fa-heart"></i>
          <li>Lista de interesses</li>
        </div>
      </ul>
    </nav>
  </div>
</div>
<app-footer></app-footer>
