<nav class="navbar">
  <div class="container logo">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo-white.png" alt="logo-delove" />
    </a>
    <div class="buttons">
      <button class="btn btn btn-outline-light" type="button" (click)="onPetRegisterClick()" *ngIf="booleanPetRegister">
        Cadastre um Pet
      </button>
      <button class="btn btn btn-outline-light" type="button" (click)="onRegisterClick()" *ngIf="booleanRegisterButton">
        Cadastre-se
      </button>
      <button class="btn btn btn-outline-light" type="button" (click)="onLoginClick()" *ngIf="booleanLoginButton">Log in</button>
      <i class="bi bi-person-circle" type="button" (click)="onMyPageClick()" *ngIf="booleanMyPage" placement="bottom"
        ngbTooltip="Minha página" [routerLink]="['/minhapagina']"></i>

    </div>
  </div>
</nav>
